{% extends 'main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="{% static 'img/logo.png' %}"> <h4>PhotoMarket : Update Password</h4>
        <hr>
    </div>

    <style>

input[type=password] {

background-color: #f6f6f6;

border: none;

color: #0d0d0d;

padding: 15px 32px;

text-align: center;

text-decoration: none;

display: inline-block;

font-size: 16px;

margin: 5px;

width: 85%;

border: 2px solid #f6f6f6;

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

-webkit-border-radius: 5px 5px 5px 5px;

border-radius: 5px 5px 5px 5px;

}

input[type=password]:focus {

background-color: #fff;

border-bottom: 2px solid #5fbae9;

}

input[type=password]::placeholder {

color: #cccccc;

}

</style>

    <form method="POST">
        {% for field, error in changepw.errors.items %}
            {% if field != '__all__' %}{% endif %}
                <div class="bg-danger text-light">
                        <hr>
                            {{ error | striptags }}
                        <hr>
                </div>
    {% endfor %}
        {% csrf_token %}
        {{ changepw.old_password }}
        {{ changepw.new_password1 }}
        {{ changepw.new_password2 }}
      <input type="submit" class="fadeIn fourth" value="update">
    </form>

  </div>
</div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Old password'
        form_fields[2].placeholder = 'New Password'
        form_fields[3].placeholder = 'New Password Confirmation'

    </script>
{% endblock %}


